body {
  font-family: sans-serif;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
